{{ form_start(form) }}
        <div class="row">
            <div class="col-md-3">
                <div class="col">{{ form_row(form.Prenom) }}</div>
            </div>
            <div class="col-md-3">
                <div class="col">{{ form_row(form.Nom) }}</div>
            </div>
            <div class="col-md-3">
                <div class="col">{{ form_row(form.Sexe) }}</div>
            </div>
            <div class="col-md-3">
                <div class="col">{{ form_row(form.Email) }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.Telephone) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.Adresse) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.Date_de_naissance) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.Lieu_de_naissance) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                {{ form_row(form.Statut_dans_entreprise) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.Situation_matrimoniale) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.Diplomes) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.CNI) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                {{ form_row(form.Type_de_contrat) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.Salaire_Brute) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.imageFile,{'label':'Photo'}) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.Type) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                {{ form_row(form.IPRES) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.CSS) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.Declaration_fiscale) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.Impots) }}
            </div>
        </div>
    <br><br>
<div class="text-right">
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
