{% extends 'base.html.twig' %}

 {% block title %}Liste des employés{% endblock %}
{% block stylesheets %}
    <style>
        body{
            background-color: #dee5e0;
        }
        .tableau{
            background-color: #fff;
            box-shadow: 0 0 20px rgba( 0, 0, 0, 0.5);
        }
        .LB{
            color:white;
        }
        .alert-info{
            background-color: #12ead8;
        }
        .alert-success{
            background-color: #00cc33;
            color: #006666;
        }
        .blocAff{
            background-color: #ff2d20;
            box-shadow: 0 0 30px rgba( 0, 0, 0, 0.5);
            whidth:90px;
            height: 150px;
            color: white;
            animation: mymove 5s infinite;
        }
        @keyframes mymove {
            from {background-color: #ff2d20;}
            to {background-color: #0000cd;}
        }
        .blocAff p{
            font-size: 20px;
            font-weight: bold;
        }
        .blocAff div.text-center{
            font-size: 60px;
            font-weight: bold;
        }
        .blocAff div.text-center span{
            font-size: 30px;
            font-weight: bold;
        }

    </style>
{% endblock %}
{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% for message in app.flashes('info') %}
            <div class="alert alert-info col-md-4 offset-8">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}


        <h4 class="text-center">Liste de tous employés de la SAFEC</h4>
        <div class="row">
            <div class="col-md-4"><button class="btn btn-primary stat">Plus de détails</button>
                <button class="btn btn-primary finstat" style="display:none">Voir tableau</button>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"><div class="text-right"><a href="{{ path('ressource_new') }}" class="btn btn-primary">Créer un employé</a></div></div>
        </div>
        <br>
        <div class="statistique" style="display:none">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <h1 class="text-center mb-5">Statistique des Ressources Humaines</h1>
                <div class="row">
                    <div class="col-md-4">
                        <div class="effectif blocAff">
                            <p class="text-center mt-3">Effectif total des employés</p>
                            <div class="text-center">
                                {{ resultat }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="employeInterne blocAff">
                            <p class="text-center mt-3">Nombre d'employés Interne</p>
                            <div class="text-center">
                                {{ interne }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="employeExterne blocAff">
                            <p class="text-center mt-3">Nombre d'employés Externe</p>
                            <div class="text-center">
                                {{ externe }}
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="employeMasculin blocAff">
                            <p class="text-center mt-3">Nombre d'employés Masculin</p>
                            <div class="text-center">
                                {{ masculin }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="employeFeminin blocAff">
                            <p class="text-center mt-3">Nombre d'employés Féminin</p>
                            <div class="text-center">
                                {{ feminin }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="salaireTotal blocAff">
                            <p class="text-center mt-3">Salaire Mensuel Versé</p>
                            <div class="text-center">
                                {% for sommeSalaire in sommeSalaires%}
                                   <span>{{ sommeSalaire |format_number({grouping_size: 3})}} FCFA</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="tablejs">
            <div class="tableau">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Prenoms</th>
                        <th>Nom</th>
                        <th>Diplômes</th>
                        <th>Statut dans entreprise</th>
                        <th>Type de contrat</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ressource in ressources %}
                        <tr>
                            <td>{{ ressource.Prenom }}</td>
                            <td>{{ ressource.Nom }}</td>
                            <td>{{ ressource.Diplomes }}</td>
                            <td>{{ ressource.StatutDansEntreprise }}</td>
                            {% if ressource.TypeDeContrat == 0 %}
                                <td>Stagiaire</td>
                            {% elseif ressource.TypeDeContrat== 1 %}
                                <td>Prestataire de services</td>
                            {% elseif ressource.TypeDeContrat== 2 %}
                                <td>CDD</td>
                            {% elseif ressource.TypeDeContrat== 3 %}
                                <td>CDI</td>
                            {% endif %}
                            <td>
                                <div class="btn-group">
                                    <a href="{{ path('ressource_show', {'id': ressource.id}) }}" class=" btn btn-info"><i class="far fa-eye"></i></a>&nbsp
                                    <a href="{{ path('ressource_edit', {'id': ressource.id}) }}" class=" btn btn-warning LB"><i class="fas fa-edit"></i></a>&nbsp

                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="17">Pas d'enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-4 offset-4">
                <div class="pagination">
                    {{ knp_pagination_render(ressources) }}
                </div>
            </div>
        </div>


    </div>
{% endblock %}
