{% extends 'base.html.twig' %}

{% block title %}Ressource{% endblock %}

{% block body %}
    <div class="container">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <h2 class="text-center mb-5">Fiche descriptive</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card show_RH" style="width:100%;height: auto">
                        {%  if ressource.filename %}
                            <div><img src="{{ vich_uploader_asset(ressource,'imageFile')|imagine_filter('thumb') }}" alt="Image profile" class="img-thumbnail" style="width:360px;height:240px"></div>
                        {% else %}
                            <div><img src="{{ '/images/Default/logo.png'|imagine_filter('thumb') }}" alt="SAFEC LOGO" class="img-thumbnail" style="width:360px;height:240px"></div>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title text-primary text-center" style="font-size: 1.6em">{{ ressource.Prenom }}&nbsp{{ ressource.Nom }}</h5>
                        </div>
                        <ul class="list-group list-group-flush ">
                            <li class="list-group-item show_RH">N° CNI:&nbsp&nbsp{{ ressource.CNI }}</li>
                            <li class="list-group-item show_RH">Email:&nbsp&nbsp{{ ressource.Email }}</li>
                            <li class="list-group-item show_RH">Matricule:&nbsp&nbsp{{ ressource.Telephone }}</li>
                        </ul>
                        <div class="card-body">
                            <p>Téléphone:&nbsp&nbsp</p>
                        </div>
                    </div>
                </div>
                <style>
                    .show_RH tr:nth-child(odd){
                        background-color: #00BFFF;
                        color:white;
                    }
                    .show_RH{
                        border: 1px solid rgb(0,191,255);
                        border-collapse: collapse;
                    }
                    .show_RH,td{
                        border: 2px solid rgb(0,191,255);
                    }


                </style>
                <div class="col-md-7 offset-1">
                    <table class="table table-bordered show_RH">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ ressource.id }}</td>
                        </tr>
                        <tr>
                            <th>Sexe</th>
                            {% if ressource.sexe == 0 %}
                            <td>Masculin</td>
                            {% else %}
                            <td>Féminin</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Diplomes</th>
                            <td>{{ ressource.Diplomes | nl2br}}</td>
                        </tr>
                        <tr>
                            <th>Date de naissance</th>
                            <td>{{ ressource.DateDeNaissance ? ressource.DateDeNaissance|date('d-m-Y') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Lieu de naissance</th>
                            <td>{{ ressource.LieuDeNaissance }}</td>
                        </tr>
                        <tr>
                            <th>Statut dans entreprise</th>
                            <td>{{ ressource.StatutDansEntreprise }}</td>
                        </tr>
                        <tr>
                            <th>Situation matrimoniale</th>
                            {% if ressource.SituationMatrimoniale == 0 %}
                            <td>Marié (e)</td>
                            {% elseif ressource.SituationMatrimoniale == 1  %}
                            <td>Célibataire</td>
                            {% elseif ressource.SituationMatrimoniale == 2 %}
                            <td>Divorcé (e)</td>
                            {% elseif ressource.SituationMatrimoniale == 3 %}
                                <td>Veuf (ve)</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Type d'employé</th>
                            {% if ressource.Type == 0 %}
                            <td>Interne</td>
                            {% else %}
                            <td>Externe</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Salaire Brute</th>
                            <td>{{ ressource.salaireBrute }} FCA</td>
                        </tr>
                        <tr>
                            <th>IPRES</th>
                            <td>{{ ressource.IPRES }}</td>
                        </tr>
                        <tr>
                            <th>CSS</th>
                            <td>{{ ressource.CSS }}</td>
                        </tr>
                        <tr>
                            <th>Declaration_fiscale</th>
                            <td>{{ ressource.DeclarationFiscale }}</td>
                        </tr>
                        <tr>
                            <th>Impots</th>
                            <td>{{ ressource.Impots }}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <br>
            <a href="{{ path('ressource_index') }}"><i class="fas fa-hand-point-left"> Retour vers la liste des employés</i></a>
                <div class="text-right">
                    <div class="btn-group">
                    <a href="{{ path('ressource_edit', {'id': ressource.id}) }}" class="btn btn-warning LB "><i class="fas fa-edit"> Modifier</i></a>&nbsp
                    {{ include('ressource/_delete_form.html.twig') }}
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
